*{
    margin: 0;

    padding:0;
    font-family: 'Poppins', sans-serif;

 }

 .flex{

    display: flex;

    align-items: center;

 }

 body{

    background-color: black;

 }

 .container{

    width: 100%;

    background-color: black;

    overflow-x: hidden;

    color: white;

}

 .container header{

    width: 100%;

    height:30px;
    position: fixed;
    justify-content: space-between;

    background-color: rgb(238, 135, 10);

 }


header nav{

    width: 70%;

    display:flex;

 }

section {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}


header nav ul{

    justify-content: center;

    width: 70%;

 }



nav ul li{

    list-style: none;

}

nav ul li a{

    text-decoration: solid;

    font-size: 20px;
    font-family: Georgia;
    overflow-x: hidden;

    padding: 10px 25px;

    font-weight:500;

    color: white;

}

nav ul li a:hover{



    color: #FFDE59;



}

.aboutme{
    position: relative;
    padding-left: 0%;
    text-align:start;
    direction: ltr;
}

.aboutme h3{

    text-align: left;
    font-family: monospace;
    direction: ltr;


}

.aboutme p{

    text-align: justify;
    text-align: start;
    font-family:  'Lucida Sans Regular';
    text-indent: 10px;
    margin-right:600px;
    margin-bottom: 50px;
    margin-top: 0%;
    font-size: medium;
}
.content{

    position: relative;
    text-align:center;
    font-family: monospace;
    margin-bottom: 70px;


}

.image {

     display: block;
     margin-left: auto;
     margin-right: 90px;
     margin-top: 90px;
     max-width:100%;
     height:auto;
     border-radius: 50%;
}

footer {
    background-color: #007acc;
    color: whitesmoke;
    padding: 10px;
    position:fixed;
    left:0%;;
    bottom:0;
    width:100%;
    background-color:red;
    color:white;
    text-align: center;
    align-items: center;
  }


  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }